
.container{
    display:flex;
    width:960px;
    height:960px;
    flex-wrap: wrap;


}

.square{
    border: 1px solid black;
    width: calc(100% / 16);
    aspect-ratio: 1;
}

.color{
    background-color: black;
}