body{
    background-color: #FFC30B;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 20px;

    
}


.button{
    background-color: #5e3f18;
    padding:20px;
    border-radius:20px;
    color:white;
    font-weight: bold;
}


.container{
    background-color: white;
    border:15px solid #5e3f18;
    border-radius: 20px;
    display:flex;
    width:960px;
    height:960px;
    flex-wrap: wrap;


}

.square{
    border: 1px solid black;

}

.color{
    background-color: black;
}